<%- include('partials/header.ejs') %>
      <section class="banner">
        <h1>FLASH NEWS</h1>
      </section>

      <section class="news__section">
        <% if (locals.news) { %>
          
          <div class="news__wrap grid">
            <% news.forEach(n => { %>
              <a  href="/news?title=<%= n.title %>" class="news_container">
                <div class="img__wrap">
                  <img src="<%= n.urlToImage %>" alt="" class="news__image">
                </div>
                <div class="news__info">
                  <div  class="author"><%= n.source.name %></div>
                  <h3 class="title">
                    <%= n.title %>
                  </h3>
                  <div class="news__date">
                    <span class="author_name"> author: <%= n.author %>
                    </span> . <span class="time__"> <%= n.publishedAt %> </span></div>
                </div>
              </a>
             
            <% }) %>  
            
            
            
            
          
          
          </div>
         
        <% } %>
         


        
      </section>
   <%- include('partials/footer.ejs') %>
</html>