<%- include('partials/header.ejs') %>
      <section class="banner">
        <h1>FLASH NEWS</h1>
      </section>

      <section class="news__section">
        <% if (locals.news) { %>
          
          <div class="news__wrap grid">
            <% news.forEach(n => { %>
              <a  href="/news?title=<%= n.title %>" class="news_container">
                <div class="img__wrap">
                  <img src="<%= n.urlToImage %>" alt="" class="news__image">
                </div>
                <div class="news__info">
                  <div  class="author"><%= n.source.name %></div>
                  <h3 class="title">
                    <%= n.title %>
                  </h3>
                  <div class="news__date">
                    <span class="author_name"> author: <%= n.author %>
                    </span> . <span class="time__"> <%= n.publishedAt %> </span></div>
                </div>
              </a>
              <!-- <a  href="#" class="news_container">
                <div class="img__wrap">
                  <img src="./assets/soccer.webp" alt="" class="news__image">
                </div>
                <div class="news__info">
                  <div  class="author">BBc</div>
                  <h3 class="title">
                    Harry to broke out of the prison
                    dljfsljd lsdjfljlsaj dfj;ksajdfh hsadlfz j
                  </h3>
                  <div class="type"><span class="event">sports</span> . <span class="time"> 2h </span></div>
                </div>
              </a>
              <a  href="#" class="news_container">
                <div class="img__wrap">
                  <img src="./assets/soccer.webp" alt="" class="news__image">
                </div>
                <div class="news__info">
                  <div  class="author">BBc</div>
                  <h3 class="title">
                    Harry to broke out of the prison
                    dljfsljd lsdjfljlsaj dfj;ksajdfh hsadlfz j
                  </h3>
                  <div class="type"><span class="event">sports</span> . <span class="time"> 2h </span></div>
                </div>
              </a> -->
             
            <% }) %>  
            
            
            
            
          
          
          </div>
         
        <% } %>
          <%= locals.error ? "Please make sure you're connected to the internet":'hello' %>


        
      </section>
   <%- include('partials/footer.ejs') %>
</html>