<%- include('partials/header.ejs') %>
    <section>
      <% if (locals.data) { %>
        <article article__header>
          <div class="source banner">
            <a href="data.author"><%= data.source.name %></a>
          </div>
          <div class="article__head">
  
            <h1 class="news__title title">
              <%= data.title %>
            </h1>
            <h3 class="news__description">
              <%= data.description %>
            </h3>
  
            <h5 class="time"><span>published at:</span> <span class="time_published"> <%= data.publishedAt %></span> </h5>
          </div>
  
          <div class="content__container">
            <div class="img__wrap">
              <img class="news__image" src="<%= data.urlToImage %>" alt="news__image">
            </div>
            <div class="content">
              <%= data.content %>
            </div>
            <a href="<%= data.url %>" class="further nav-link">Read More</a>
          </div>
  
        </article>
       
      <% } %>
    </section>
<%- include('partials/footer.ejs') %>